* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
.body a {
  text-decoration: none;
}
.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0px;
  z-index: 99;
  background-color: #ffffff;
  box-shadow: 0px -10px 30px rgb(167, 165, 165);

  /* background: #000; */
}
.container {
  /* background-color: red; */
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 50px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 50px;
}

.logo {
  /* background-color: aqua; */
  height: 100%;
  width: 190px;
  font-size: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #dc4f72;
  margin-right: 300px;
}

.logo a {
  text-decoration: none;
  color: #dc4f72;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo span {
  font-weight: 900;
  font-size: 26px;
}

.header .navbar {
  /* background-color: beige; */
  width: 400px;
  height: 100%;
  display: flex;

  align-items: center;
}
.header .navbar button {
  font-family: "Nunito", sans-serif;
  background-color: transparent;
  color: #595c62;
  font-size: 16px;
  border: none;
  padding: 0 0;
}

.button {
  width: 200px;
  height: 55px;
  border-radius: 5px;
  color: #dc4f72;
  border: #dc4f72 solid 2px;
  background-color: #ffffff;
  transition: all 0.4s;
  font-weight: 700;
  font-size: 15px;
}
.button:hover {
  background-color: #dc4f72;
  color: #ffffff;
}
.nav__name {
  height: 100%;
  /* background: #000; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.header .navbar .nav__name a {
  text-decoration: none;
  color: #595c62;
  display: block;
  transition: all 0.7s;
}
.line {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #dc4f72;
  transition: all 0.7s;
}

.header .navbar .nav__name:hover .line {
  width: 40%;
}
.header .navbar .nav__name:hover a {
  color: #dc4f72;
}
.header .dropdown {
  /* background: #000; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.header .navbar .dropdown:hover .line {
  width: 40%;
}
.header .navbar .dropdown:hover button {
  color: #dc4f72;
}
.header .dropdown .dropdown-item {
  font-family: "Nunito", sans-serif;
  background-color: transparent;
  color: #595c62;
  font-size: 16px;
  transition: all 0.3s;
}

.header .dropdown-item:hover {
  color: #dc4f72;
}

/* CAROUSEL */
/* CAROUSEL */
/* CAROUSEL */
/* CAROUSEL */

.carousel {
  width: 100%;
  height: 600px;
}

.carousel__bg__opacity {
  width: 100%;
  height: 100%;
  background-image: url(./IMG/banner.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: opacity(10%);
  position: relative;
  background-attachment: fixed;
}
.carousel .container {
  opacity: 100%;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
}
.carousel__left {
  width: 47%;
  height: 100%;
  /* background-color: #dc4f72; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.big__bold__black__text {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}
.carousel__left span {
  font-size: 20px;
  color: #5a5a5a;
  margin-bottom: 30px;
}
.carousel__left button {
  width: 160px;
}
.carousel__right {
  width: 50%;
  height: 100%;
  /* background-color: #6f182e; */
  display: flex;
  align-items: flex-end;
}
.carousel__right img {
  transform: rotateX(180deg);
  transform: rotate(180deg);
}

.tools {
  width: 100%;
  height: 750px;
}

.tools .container {
  height: 100%;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
}

.tools__top {
  width: 60%;
  height: 250px;
  /* background-color: yellow; */
  text-align: center;
  margin-top: 30px;
}

.pink__text {
  font-size: 16px;
  font-weight: 700;
  color: #dc4f72;
}

.tools__bottom {
  width: 100%;
  height: 350px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.tools__bottom a {
  display: block;
  text-decoration: none;
  color: #000000;
}

.tools__bottom .col:hover {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgb(195, 194, 194);
  transform: translateY(-20px);
}
.tools__bottom .col {
  width: calc(100% / 3);
  height: 100%;
  background-color: #f7f9fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 30px;
  padding: 0 30px;
  border-radius: 5px;
  transition: all 0.5s;
}

.tools__bottom .col h3 {
  font-weight: 700;
  margin: 20px 0px;
}

/* ================================ABOUT US */
.about__us {
  width: 100%;
  height: 850px;
  background-color: #f7f9fc;
}

.about__us .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background-color: red; */
}

.about__top {
  width: 100%;
  height: 400px;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.about__top .about__top__left {
  width: 50%;
  height: 100%;
  padding-right: 40px;
}
.about__top__left h1 {
  font-size: 35px;
}
.about__top__left p {
  color: #595c62;
  margin-bottom: 40px;
}
.about__top__left button {
  width: 150px;
  background-color: #dc4f72;
}
.about__top__left button:hover {
  background-color: #c1274e;
}

.about__top__left .button a {
  color: #ffffff;
}

.about__top .about__top__right {
  width: 45%;
  height: 100%;
  background-image: url(./IMG/about.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 30px;
  border-radius: 10px;
  transition: all 0.6s;
}
.about__top .about__top__right:hover {
  transform: translateY(-10px);
}

.about__bottom {
  width: 100%;
  height: 200px;
  background-color: #f7f9fc;
  margin-top: -50px;
  display: flex;
}

.about__bottom .col {
  width: calc(100% / 3);
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 5px;
  margin-right: 30px;
  box-shadow: 0px 0px 10px gainsboro;
  transition: all 0.3s;
}
.about__bottom .col h3 {
  font-size: 16px;
  font-weight: 700;
}
.about__bottom .col h1 {
  font-size: 45px;
  color: #dc4f72;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}
.about__bottom .col:hover {
  box-shadow: 0px 10px 10px gainsboro;
}

/* TRUE OURSELF */
.true__ourself {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.true__cover {
  width: 100%;
  height: 500px;
  background-image: url(./IMG/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  filter: contrast(90%) brightness(50%);
}

.true__ourself .container {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 500px;
  /* background-color: #dc4f72; */
  padding: 30px 50px;
  padding-right: 650px;
  color: #ffffff;
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.true__ourself .container h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.true__ourself .container p {
  margin-bottom: 50px;
}

.true__ourself .container button {
  width: 150px;
  background-color: #ffffff;
  transition: all 0.5s;
  border: none;
}

.true__ourself .container .button a {
  color: #000000;
}

.true__ourself .container button:hover {
  filter: brightness(90%);
}

/* solutions */

.solutions {
  width: 100%;
  height: 1000px;
}
.solutions .container {
  width: 100%;
  height: 100%;
  /* background: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.solutions .container .tools__top {
  height: 200px;
  /* background-color: aqua; */
}

.solutions .solution__row {
  width: 100%;
  height: 600px;
  display: flex;
  margin-top: -120px;
  /* background-color: blue; */
}
.solutions .solution__col {
  width: calc(100% / 3);
  height: 100%;
  background-color: #ffffff;
  margin-right: 30px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: #d9d6d6 solid 0.2px;
  transition: all 0.5s;
  box-shadow: 0px 0px 10px rgba(200, 198, 198, 0.6);
  position: relative;
}
.solutions .solution__col:hover {
  transform: translateY(-20px);
}
.solutions .solution__col:hover img {
  filter: grayscale(0%);
}
.solutions .solution__col:hover i {
  transform: translateX(5px);
}

.solution__col .category__business {
  background-color: #e87e99;
  width: 90px;
  height: 30px;
  border-radius: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e092a;
  font-size: 13px;
  font-weight: 700;
  margin: 30px 20px 0px 20px;
}
.solution__col .category__design {
  background-color: #00800033;
  width: 90px;
  height: 30px;
  border-radius: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #008000;
  font-size: 13px;
  font-weight: 700;
  margin: 30px 20px 0px 20px;
}
.solution__col .category__industry {
  background-color: #0000ff33;
  width: 90px;
  height: 30px;
  border-radius: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0000ff;
  font-size: 13px;
  font-weight: 700;
  margin: 30px 20px 0px 20px;
}
.solutions .solution__col img {
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  filter: grayscale(100%);
  transition: all 0.5s;
}
.solution__item__text {
  width: 100%;
  height: 300px;
  /* background-color: wheat; */
  padding: 20px;
}
.solution__col h1 {
  font-size: 24px;
  font-weight: 700;
}
.solution__item__text a {
  color: #c3274e;
  font-weight: 500;
  margin-top: 35px;
  display: block;
}
.solution__item__text i {
  font-size: 12px;
  transition: all 0.5s;
}

.solution__col .date {
  width: 140px;
  height: 50px;
  background-color: #dc4f72;
  position: absolute;
  z-index: 4;
  right: 0px;
  border-top-right-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.solution__col .date h2 {
  font-size: 16px;
  font-weight: 900;
  color: #ffffff;
  margin-top: 7px;
}

.solution__col hr {
  height: 0.2px;
  color: #a4a6aa;
}

/* ===================Q&A */
.QA {
  width: 100%;
  height: 900px;
  background-color: #f7f9fc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.QA .tools__top {
  width: 50%;
}
.QA .container {
  margin-top: -30px;
  height: 600px;
  width: 100%;
  display: flex;
}
.QA .qa__img {
  width: 40%;
  height: 100%;
  background-image: url(./IMG/women.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 80px;
  transition: all 0.3s;
  border-radius: 7px;
}
.QA .qa__img:hover {
  transform: translateY(-10px);
}

.qa__box {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background: #000; */
}
.QA .dropdown button {
  width: 600px;
  height: 80px;
  background-color: #ffffff;
  color: black;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  border: none;
}

.QA .dropdown .dropdown-menu {
  width: 100%;
  height: 100px;
  padding: 15px 20px;
}

/* testimonials */

.testimonials {
  width: 100%;
  height: 670px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-image: url(./IMG/b2.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.testimonials .tools__top {
  width: 50%;
  height: 100px;
}

.testimonials .container {
  width: 100%;
  height: 480px;
  /* background-color: #8e092a; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.testi__slider {
  width: 100%;
  height: 350px;
  display: flex;
}
.slider__1 {
  display: flex;
  /* justify-content: center;
  align-items: center;
  flex-direction: row; */
  height: 370px;
  width: 100%;
  /* background-color:#008000; */
}
.slider__1 .test__left {
  background-color: #ffffff;
  width: 47%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  float: left;
  margin-left: 26px;
}

.test__left i {
  font-size: 45px;
  position: relative;
  bottom: 100px;
}

.avatar {
  width: 100px;
  height: 100px;
  background-color: #a4a6aa;
  border-radius: 100px;
  border: #c3274e solid 4px;
  background-image: url(./IMG/team3.jpg);
  background-position: center 1px;
  background-repeat: no-repeat;
  background-size: cover;
}

.review__text {
  width: 50%;
  height: 200px;
  text-align: left;
  margin-left: 40px;
}

.review__text h3 {
  font-size: 18px;
  color: #c1274e;
  font-weight: 300;
}

.review__text span {
  font-size: 12px;
}

.avatar__1 {
  width: 100px;
  height: 100px;
  background-color: #a4a6aa;
  border-radius: 100px;
  border: #c3274e solid 4px;
  background-image: url(./IMG/team4.jpg);
  background-position: center 1px;
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar__2 {
  width: 100px;
  height: 100px;
  background-color: #a4a6aa;
  border-radius: 100px;
  border: #c3274e solid 4px;
  background-image: url(./IMG/team5.jpg);
  background-position: center 1px;
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar__3 {
  width: 100px;
  height: 100px;
  background-color: #a4a6aa;
  border-radius: 100px;
  border: #c3274e solid 4px;
  background-image: url(./IMG/team6.jpg);
  background-position: center 1px;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-indicators [data-bs-target] {
  background-color: #c3274e;
}

/* .slick-dots li.slick-active button:before{
  border-radius: 0px;
} */

.slick-dots li button:before {
  content: "-";
  font-size: 90px;
  font-weight: 500;
  padding-right: 40px;
  display: block;

  color: #c1274e;
}

.slick-dots li.slick-active button::before {
  color: #c3274e;
}

.c1 {
  width: 300px;
  height: 100px;
  float: left;
  background-color: #8e092a;
}

.c2 {
  width: 200px;
  height: 100px;
  float: left;
  background-color: #d9d6d6;
}

/* BOOKING */
/* BOOKING */
/* BOOKING */
/* BOOKING */

.booking {
  width: 100%;
  height: 450px;
  /* background-color: orange; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking .container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.booking .tools__top {
  height: 160px;
}
.booking__button {
  width: 40%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  /* background-color: #000000; */
}

.button__left {
  width: 170px;
  height: 55px;
  border-radius: 5px;
  color: #dc4f72;
  border: #dc4f72 solid 2px;
  background-color: #ffffff;
  transition: all 0.4s;
  font-weight: 700;
  font-size: 15px;
}

.booking__button .button__left:hover {
  background-color: #dc4f72;
  color: #eadbdb;
}

.button__right {
  width: 170px;
  height: 55px;
  border-radius: 5px;
  color: #ffffff;
  border: #dc4f72 solid 2px;
  background-color: #dc4f72;
  transition: all 0.4s;
  font-weight: 700;
  font-size: 15px;
}

.button__right:hover {
  background-color: #a0183a;
  border: #8e092a;
}
/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */

.footer {
  width: 100%;
  height: 540px;
  background-color: #f7f9fc;
  padding: 50px 0;
}

.footer .footer__top {
  width: 100%;
  height: 400px;
  /* background-color: yellow; */
  border-bottom: rgba(175, 171, 171, 0.3) solid 0.5px;
  display: flex;
}
.footer__top__r {
  width: 50%;
  height: 50%;
}
.footer__top .footer__top__l {
  width: 50%;
  height: 100%;
  /* background-color: #c1274e; */
  display: flex;
}
.footer__col {
  width: calc(100% / 3);
  height: 100%;
}
.footer__col li {
  list-style-type: none;
  padding-bottom: 15px;
}
.footer__col li a {
  color: #656f7b;
  transition: all 0.3s;
}

.footer__col ul {
  padding-left: 0px;
}

.footer__col a:hover {
  color: #e4174a;
}

.footer h3 {
  padding-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
}

.email__sending {
  display: flex;
  width: 100%;
  height: 70px;
  margin-top: 20px;
}

.email__sending input {
  width: 450px;
  height: 50px;
  margin-right: 10px;
  border: none;
  border-radius: 7px;
  background-color: #f7f9fc;
  padding-left: 20px;
  outline: none;
  /* outline xóa phần border khi nhập input */
}

.email__sending ::placeholder {
  /* padding-left: 20px; */
  font-weight: 700;
}
.email-button {
  width: 100px;
  height: 50px;
  background-color: #dc4f72;
  border-radius: 7px;
  border: none;
  font-size: 20px;
  color: #ffffff;
}
.email__box {
  padding: 20px;
  background-color: #ffffff;
  height: 250px;
  border-radius: 7px;
  box-shadow: 10px 10px 20px rgba(175, 171, 171, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.email__box span {
  font-size: 20px;
  margin-bottom: 10px;
}

.email__box p {
  font-size: 16px;
  color: #5a5a5a;
}

.footer__bottom .footer__bot__right i {
  font-size: 19px;
  margin-right: 20px;
}
.footer__bottom .footer__bot__right a {
  color: #2c3038;
  transition: all 0.6s;
}
.footer__bottom .footer__bot__right a:hover {
  color: #dc4f72;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
/* video */
/* video */
/* video */
/* video */
.video {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* CSS CONTACT */
/* CSS CONTACT */
/* CSS CONTACT */
/* CSS CONTACT */

.log {
  width: 100%;
  height: 95px;
  background-color: #f7f9fc;
  display: flex;
  align-items: flex-end;
  font-size: 14px;
  padding-bottom: 9px;
}
.log i {
  font-size: 12px;
}
.log a {
  text-decoration: underline;
}

/* contact us */
.contact {
  width: 100%;
  height: 800px;
  /* background: #000; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact__input h1 {
  font-weight: 700;
  margin-bottom: 10px;
}

.contact .container {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__fill {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact__l {
  width: 50%;
  height: 100%;
  /* background-color: yellow; */
}
.contact .contact__l img {
  width: 500px;
  border-radius: 10px;
  transition: all 0.5s;
}

.contact .contact__l img:hover {
  transform: translateY(-20px);
}

.contact .contact__r {
  width: 50%;
  height: 100%;
  border-radius: 7px;
  box-shadow: 10px 10px 10px rgb(180, 177, 177, 0.3);
  /* background-color: rgb(5, 17, 109); */
}
.contact__r .contact__email {
  margin-top: 30px;
}
.contact__r .contact__email input {
  border: auto;
  width: 500px;
  border: 0.5px solid #dc4f72;
  height: 50px;
  margin-right: 10px;
  border-radius: 7px;
  background-color: #f7f9fc;
  padding-left: 20px;
  margin-bottom: 20px;
  color: #dc4f72;
}

.message {
  height: 130px;
  width: 500px;
  border: auto;
  border: 1px solid #ee0e46;
  margin-right: 10px;
  border-radius: 7px;
  background-color: #f7f9fc;
  padding-left: 20px;
  padding-bottom: 70px;
  margin-bottom: 20px;
  color: #dc4f72;
}

.info {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f9fc;
}

.info .col {
  height: 250px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px rgba(170, 168, 168, 0.4);
}

.info h3 {
  font-size: 20px;
}
.info .col p {
  font-size: 13px;
}

.info .info__icon {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background-color: rgba(220, 79, 114, 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #cd4869;
}
.info .col a {
  transition: all 0.5s;
  font-weight: 500;
  font-size: 20px;
}
.info .col a:hover {
  color: #cd4869;
  text-decoration: underline;
}

.map {
  width: 100%;
  height: 500px;
}
.map iframe {
  width: 100%;
  height: 100%;
}
/* RESPONSIVE */
/* RESPONSIVE */
/* RESPONSIVE */
/* RESPONSIVE */
/* RESPONSIVE */
/* RESPONSIVE */
/* RESPONSIVE */
.header .nav__toggler {
  background-color: transparent;
  border: none;
  display: none;
}
.header .nav__toggler i {
  background-color: transparent;
  font-size: 25px;
  color: #040404;
  font-weight: 900;
}

@media screen and (max-width: 576px) {
  .tools__top{
    height: 190px;
  }
  .big__bold__black__text {
    font-size: 30px;
    text-align: center;
  }
  .pink__text {
    font-size: 15px;
    text-align: center;
  }
  p {
    font-size: 12px;
  }
  h3 {
    font-size: 15px;
  }
  .container {
    width: 100%;
    display: block;
    padding: 0px 0px;
  }
  .header {
    width: 100%;
    height: 60px;
  }
  .header .navbar {
    display: none;
  }
  .logo {
    width: 140px;
    margin-right: 30px;
  }
  .logo span {
    font-size: 15px;
  }
  .header .nav__toggler {
    background-color: transparent;
    border: none;
    display: block;
    margin-right: 0px;
  }

  .header button {
    width: 90px;
    height: 50px;
    font-size: 12px;
    /* margin-left: 120px; */
  }
  .contact {
    height: 900px;
  }
  .contact .tools__top {
    height: 60px;
  }
  .contact__r {
    width: 100%;
  }

  .contact__input h1 {
    text-align: center;
    font-size: 20px;
  }
  .contact__input span {
    text-align: center;
    font-size: 13px;
    display: block;
  }

  .contact .contact__r {
    box-shadow: none;
  }
  .contact .container .contact__fill {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .contact .container .contact__fill img {
    width: 230px;
  }
  .contact__r .contact__email input {
    width: 245px;
  }
  .message {
    width: 245px;
  }

  .info .col a {
    font-size: 10px;
  }
  .contact .button__right {
    margin-bottom: 30px;
  }
  .info {
    height: 830px;
    justify-content: flex-start;
    align-items: center;
  }
  .info .tools__top {
    height: 280px;
  }
  .info .tools__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .info .col {
    width: 80%;
    margin: 20px 0px;
  }
  .map {
    height: 300px;
  }
  .map iframe {
    height: 300px;
  }
  .footer {
    height: 800px;
  }
  .footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 750px;
  }
  .footer .footer__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__top .footer__top__l {
    width: 95%;
  }

  .footer__top__r {
    width: 95%;
    height: 600px;
  }
  .email__sending input {
    width: 220px;
  }
  .footer .footer__bottom {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .footer__bot__left {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer__bot__right {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .QA .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .QA .dropdown button{
    width: 300px;
    font-size: 15px;
  }
  .dropdown-menu{
    font-size: 12px;
  }
.carousel {
  height: 900px;
}
  .carousel .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.carousel__right {
  justify-content: center;}

  .carousel__right img {
    width: 400px;
    
  }
  .tools__bottom{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
  }
  .tools__bottom .col{
    width: 70%;
    margin-bottom: 20px;
  }
  .tools{
    height: 900px;
  }
  .tools .container{
    height: 800px;
    justify-content: flex-start;
  }
  .carousel__left span{
    text-align: center;
  }
  .carousel__left{
    align-items: center;
  }
  .about__us{
    height: 2000px;
    justify-content: space-around;
    /* background: #000; */
  }
  .about__top{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 750px;
  }
  .about__top .about__top__left{
    width: 80%;
    justify-content: center;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .about__top .about__top__right{
    width: 80%;
    height: 500px;
  }
  .about__top__left h1{
    display: block;
    width: 300px;
   
}
.about__top__left p{
  display: block;
  width: 300px;
  text-align: center;
}
.about__us .container{
  height: 2000px;
}
.about__us .about__bottom{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 900px;
  /* background: red; */
}
.about__bottom .col {
  width: 60%;
  margin-bottom: 30px;
  text-align: center;
  align-items: center;
  padding-left: 5px;
}
.solutions {
  justify-content: flex-start;
}
.solutions .solution__row{
  flex-direction: column;
  align-items: center;
}
.solutions .solution__col{
  width: 80%;
  margin-bottom: 30px;
  margin-right: 0px;
}
.solution__item{
  height: 500px;
}

}
